script.
    export let name
    export let locked
    export let listItems = []
    export let onLockChange = () => {}

    let selectedValue = ""

    let onSelect = (e) => {
        selectedValue = e.target.value
    }

    PubSub.subscribe("Data.changed", () => listItems = listItems);

div.lock-drop-down
    fieldset
        legend {name} 
            sup {listItems.length}

        input(
          "type"="checkbox" 
          bind:checked="{locked}" 
          on:click="{onLockChange}" 
          data-name-for="{name.toLowerCase()}"
        )

        select(
          data-select-value="{selectedValue}"
          on:change="{onSelect}"
        )
            {#each listItems as option}
              option { option }


style.
    .lock-drop-down {
        flex-basis: 25%;
        flex-grow: 1;
    }

    legend {
        text-transform: uppercase;
        color: #ff3e00;
        font-size: 2em;
        font-weight: 100;
    }

    sup {
        font-size: x-small;
    }

    fieldset {
        border: 1px solid #ccc;
    }

    select {
        background-color: #eee;
        padding: 0;
        min-width: 90%;
        max-width: 200px;
    }

    input {
        width: 20px;
        margin-right: 20px;
    }

    @media (min-width: 640px) {
        select {
            padding: 20px 5px;
        }
    }
